.blur{
    filter: blur(4px);
}


.collapse-arrows{
    margin: 0 auto;
    font-size: 24px;
    color: #01395e;
    cursor: pointer;
}

.collapsed{
    transition: height 0.4s ease-out;
    height: 100%;
    overflow: hidden;
}
.not-collapsed{
    overflow: hidden;
    height: 140px;
    transition: height 0.4s ease-out;
}
